<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripby.dao.MemberDao">
  
  <resultMap type="Member" id="memberMap">
    <id column="mem_id" property="memberNo"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="pwd" property="password"/>
    <result column="tel" property="tel"/>
    <result column="email_key" property="emailKey"/>
    <result column="profile_photo" property="profilePhoto"/>
    <result column="state" property="state"/>
    <result column="grade" property="grade"/>
    <result column="restriction" property="restriction"/>
  </resultMap>
  
  <insert id="insert" parameterType="Member">
    insert into
      members(email, name, pwd, tel, state, grade)
    values(#{email}, #{name}, password(#{password}), #{tel}, #{state}, #{grade})
  </insert>
  
  <select id="checkEmail" resultMap="memberMap" parameterType="Member">
    select
      email
    from
      members
    where
      email = #{email}
  </select>

  <select id="findEmail" resultMap="memberMap" parameterType="Member">
    select
      email
    from
      members
    where
      tel=#{tel}
  </select>
  
  <select id="login" resultMap="memberMap" parameterType="Member">
    select
      *
    from
      members
    where
      email=#{email} and pwd=password(#{password})
  </select>

</mapper>